In [1]:
import pandas as pd
import os
import pickle

In [2]:
cache_file = '../cache/bitcoin/data.pickle'
dataset_path = '../datasets/original/Bitcoin Historical Data(2010-2022).csv'

data = None

if os.path.isfile(cache_file):
    with open(cache_file, 'rb') as f:
        data = pickle.load(f)
else:
    data = pd.read_csv(
        filepath_or_buffer=dataset_path,
    )

    data.rename(columns=str.lower, inplace=True)

    data['date'] = pd.to_datetime(data['date']).dt.date

    data = data.sort_values(by='date').reset_index(drop=True)

    close = data.pop('close')

    data['close'] = close

    with open(cache_file, 'wb') as f:
        pickle.dump(data, f)

data

            date     open     high      low     volume    close
0     2010-07-18      0.0      0.1      0.1         75      0.1
1     2010-07-19      0.1      0.1      0.1        574      0.1
2     2010-07-20      0.1      0.1      0.1        262      0.1
3     2010-07-21      0.1      0.1      0.1        575      0.1
4     2010-07-22      0.1      0.1      0.1       2160      0.1
...          ...      ...      ...      ...        ...      ...
4301  2022-04-27  38113.0  39447.0  37869.0  426830240  39243.0
4302  2022-04-28  39243.0  40382.0  38888.0  542391872  39748.0
4303  2022-04-29  39748.0  39919.0  38175.0  382904352  38581.0
4304  2022-04-30  38590.0  38776.0  37596.0  248220336  37650.0
4305  2022-05-01  37642.0  38676.0  37397.0  276992736  38461.0

[4306 rows x 6 columns]

In [3]:
data = data.dropna().reset_index(drop=True)

data.isna().sum()

date      0
open      0
high      0
low       0
volume    0
close     0
dtype: int64

In [4]:
dataset_path = '../datasets/consolidated/posts.csv'

data_posts = pd.read_csv(
    filepath_or_buffer=dataset_path,
    lineterminator='\n',
)

data_posts['date'] = pd.to_datetime(data_posts['date']).dt.date

data_posts

          date  sentiment
0   2013-01-21   0.296672
1   2013-01-22   0.357815
2   2013-01-23   0.391366
3   2013-01-24   0.196592
4   2013-01-25   0.259927
5   2013-01-26   0.160243
6   2013-01-27   0.265702
7   2013-01-28   0.269674
8   2013-01-29   0.229464
9   2013-01-30   0.230275
10  2013-01-31   0.340881
11  2013-02-01   0.453013
12  2013-02-02   0.242079
13  2013-02-03   0.335971
14  2013-02-04   0.273247
15  2013-02-05   0.200576
16  2013-02-06   0.348410
17  2013-02-07   0.276208
18  2013-02-08   0.397031
19  2013-02-09   0.251255
20  2013-02-10   0.303873
21  2013-02-11   0.221885
22  2013-02-12   0.314402
23  2013-02-13   0.447421
24  2013-02-14   0.406303
25  2013-02-15   0.391887
26  2013-02-16   0.271772
27  2013-02-17   0.285471
28  2013-02-18   0.317939
29  2013-02-19   0.249832
30  2013-02-20   0.258001
31  2013-02-21   0.456739
32  2013-02-22   0.358160
33  2013-02-23   0.321625
34  2013-02-24   0.275036
35  2013-02-25   0.248139
36  2013-02-26   0.332520
37  2013-02-27   0.256972
38  2013-02-28   0.250179
39  2013-03-01   0.220408
40  2013-03-02   0.426439
41  2013-03-03   0.223467

In [5]:
from datetime import timedelta

min_date = data_posts['date'].min()
max_date = data_posts['date'].max()

data = data[data['date'] >= min_date]
data = data[data['date'] <= max_date + timedelta(days=3)]

data = data.reset_index(drop=True)

data

          date  open  high   low  volume  close
0   2013-01-21  15.7  17.0  15.6   61502   16.8
1   2013-01-22  16.8  17.6  16.6   60975   17.3
2   2013-01-23  17.3  17.6  16.8   49439   17.5
3   2013-01-24  17.5  19.2  15.6  172009   16.9
4   2013-01-25  16.9  17.8  15.4   80767   17.4
5   2013-01-26  17.4  17.9  16.5   34811   17.9
6   2013-01-27  17.9  18.0  17.2   23767   17.8
7   2013-01-28  17.8  18.9  17.8   57669   18.7
8   2013-01-29  18.7  19.8  18.7   86082   19.5
9   2013-01-30  19.5  19.8  19.1   45065   19.7
10  2013-01-31  19.7  21.4  19.5   99227   20.4
11  2013-02-01  20.4  21.1  20.3   49917   20.5
12  2013-02-02  20.5  20.5  18.0   80502   19.6
13  2013-02-03  19.6  20.9  19.4   34244   20.6
14  2013-02-04  20.6  21.0  19.9   52219   20.4
15  2013-02-05  20.4  20.8  20.2   29212   20.6
16  2013-02-06  20.6  21.3  20.6   51990   21.2
17  2013-02-07  21.2  22.2  20.8   64264   22.1
18  2013-02-08  22.1  22.8  22.0   48650   22.7
19  2013-02-09  22.7  24.0  22.6   38133   23.6
20  2013-02-10  23.6  24.1  22.7   56426   24.0
21  2013-02-11  24.0  24.7  23.6   29527   24.6
22  2013-02-12  24.6  25.8  24.3   74240   25.2
23  2013-02-13  25.2  26.3  24.2   90150   24.2
24  2013-02-14  24.2  27.6  21.7  145735   27.2
25  2013-02-15  27.2  27.5  26.1   51714   27.1
26  2013-02-16  27.1  27.5  26.8   18827   27.2
27  2013-02-17  27.2  27.4  25.0   77042   26.8
28  2013-02-18  26.8  27.1  26.4   29744   27.0
29  2013-02-19  27.0  29.6  26.8   99699   29.4
30  2013-02-20  29.4  29.9  29.0   37209   29.6
31  2013-02-21  29.6  30.0  29.3   34731   29.8
32  2013-02-22  29.8  31.3  29.7   66952   30.3
33  2013-02-23  30.3  30.7  28.0   72278   29.8
34  2013-02-24  29.8  30.4  29.2   24275   29.9
35  2013-02-25  29.9  30.4  29.5   26779   30.4
36  2013-02-26  30.4  31.7  30.1   42864   31.1
37  2013-02-27  31.1  31.6  30.8   30473   30.9
38  2013-02-28  30.9  34.5  30.9  126517   33.4
39  2013-03-01  33.4  34.9  32.9   39786   34.5
40  2013-03-02  34.5  34.8  33.2   36662   34.3
41  2013-03-03  34.3  34.5  33.8   12525   34.5
42  2013-03-04  34.5  36.7  34.2   46771   36.2
43  2013-03-05  36.2  40.7  36.2   85426   40.3
44  2013-03-06  40.3  49.1  40.1  126452   41.0

In [6]:
data.to_csv('../datasets/consolidated/bitcoin.csv', index=False)