In [1]:
import pandas as pd

In [2]:
dataset_posts_path = '../datasets/consolidated/posts.csv'
dataset_bitcoin_path = '../datasets/consolidated/bitcoin.csv'

data_posts = pd.read_csv(dataset_posts_path)
data_bitcoin = pd.read_csv(dataset_bitcoin_path)

In [3]:
data_posts

            date  sentiment
0     2013-01-21   0.305506
1     2013-01-22   0.357815
2     2013-01-23   0.391366
3     2013-01-24   0.196592
4     2013-01-25   0.259927
...          ...        ...
2531  2019-12-27   0.295242
2532  2019-12-28   0.174677
2533  2019-12-29   0.219130
2534  2019-12-30   0.064087
2535  2019-12-31   0.054456

[2536 rows x 2 columns]

In [4]:
data_bitcoin

            date    open    high     low  volume   close
0     2013-01-21    15.7    17.0    15.6   61502    16.8
1     2013-01-22    16.8    17.6    16.6   60975    17.3
2     2013-01-23    17.3    17.6    16.8   49439    17.5
3     2013-01-24    17.5    19.2    15.6  172009    16.9
4     2013-01-25    16.9    17.8    15.4   80767    17.4
...          ...     ...     ...     ...     ...     ...
2534  2019-12-30  7397.5  7420.9  7244.1  606110  7261.8
2535  2019-12-31  7261.5  7331.0  7167.4  586595  7196.4
2536  2020-01-01  7196.4  7259.4  7180.0  420278  7199.8
2537  2020-01-02  7199.7  7209.6  6901.4  632778  6967.0
2538  2020-01-03  6967.1  7402.9  6884.1  936288  7343.1

[2539 rows x 6 columns]

In [5]:
close = data_bitcoin['close'][3:].tolist()

min_date = data_posts['date'].min()
max_date = data_posts['date'].max()

data = data_bitcoin.copy()

data = data[(data['date'] >= min_date) & (data['date'] <= max_date)]

data.insert(loc=1, column='sentiment', value=data_posts['sentiment'])

data['close'] = close

data.reset_index(drop=True, inplace=True)

data

            date  sentiment    open    high     low  volume   close
0     2013-01-21   0.305506    15.7    17.0    15.6   61502    16.9
1     2013-01-22   0.357815    16.8    17.6    16.6   60975    17.4
2     2013-01-23   0.391366    17.3    17.6    16.8   49439    17.9
3     2013-01-24   0.196592    17.5    19.2    15.6  172009    17.8
4     2013-01-25   0.259927    16.9    17.8    15.4   80767    18.7
...          ...        ...     ...     ...     ...     ...     ...
2531  2019-12-27   0.295242  7210.8  7293.8  7128.5  718074  7261.8
2532  2019-12-28   0.174677  7261.9  7375.9  7256.5  610964  7196.4
2533  2019-12-29   0.219130  7321.6  7518.9  7303.0  611687  7199.8
2534  2019-12-30   0.064087  7397.5  7420.9  7244.1  606110  6967.0
2535  2019-12-31   0.054456  7261.5  7331.0  7167.4  586595  7343.1

[2536 rows x 7 columns]

In [6]:
data.to_csv('../datasets/consolidated/consolidated.csv', index=False)