In [6]:
import pandas as pd

In [12]:
dataset_posts_path = '../datasets/consolidated/posts.csv'
dataset_bitcoin_path = '../datasets/consolidated/bitcoin.csv'

data_posts = pd.read_csv(dataset_posts_path, lineterminator='\n')
data_bitcoin = pd.read_csv(dataset_bitcoin_path)

In [13]:
data_bitcoin

         date    open    high     low    volume   close
0  2019-05-26  8029.6  8718.6  7866.5    872118  8630.2
1  2019-05-27  8628.9  8902.8  8607.3    907961  8760.1
2  2019-05-28  8759.4  8794.1  8568.8    763203  8716.3
3  2019-05-29  8715.6  8747.2  8435.3  15429494  8647.8
4  2019-05-30  8647.8  9045.9  8054.7   1041563  8271.9

In [14]:
min_date = data_posts['date'].min()
max_date = data_posts['date'].max()

close = []

for i in range(3, len(data_bitcoin['close'])):
    close.append(data_bitcoin.loc[i]['close'])

min_date = data_posts['date'].min()
max_date = data_posts['date'].max()

data_bitcoin = data_bitcoin[data_bitcoin['date'] >= min_date]
data_bitcoin = data_bitcoin[data_bitcoin['date'] <= max_date]

data_bitcoin['close'] = close

data_bitcoin = data_bitcoin.reset_index(drop=True)

data_bitcoin

         date    open    high     low  volume   close
0  2019-05-26  8029.6  8718.6  7866.5  872118  8647.8
1  2019-05-27  8628.9  8902.8  8607.3  907961  8271.9

In [8]:
data_bitcoin.to_csv('../datasets/consolidated/consolidated.csv', index=False)