In [3]:
import pandas as pd

In [4]:
dataset_posts_path = '../datasets/consolidated/posts.csv'
dataset_bitcoin_path = '../datasets/consolidated/bitcoin.csv'

data_posts = pd.read_csv(dataset_posts_path)
data_bitcoin = pd.read_csv(dataset_bitcoin_path)

In [5]:
data_posts

            date  positive   neutral  negative
0     2013-01-21  0.224461  0.501282  0.274257
1     2013-01-22  0.288634  0.496198  0.215168
2     2013-01-23  0.257223  0.437274  0.305503
3     2013-01-24  0.235050  0.551573  0.213377
4     2013-01-25  0.231190  0.506552  0.262257
...          ...       ...       ...       ...
2531  2019-12-27  0.226849  0.446411  0.326740
2532  2019-12-28  0.169157  0.471205  0.359638
2533  2019-12-29  0.197365  0.523340  0.279295
2534  2019-12-30  0.170356  0.481577  0.348067
2535  2019-12-31  0.198009  0.451574  0.350417

[2536 rows x 4 columns]

In [6]:
data_bitcoin

            date    open    high     low  volume   close
0     2013-01-21    15.7    17.0    15.6   61502    16.8
1     2013-01-22    16.8    17.6    16.6   60975    17.3
2     2013-01-23    17.3    17.6    16.8   49439    17.5
3     2013-01-24    17.5    19.2    15.6  172009    16.9
4     2013-01-25    16.9    17.8    15.4   80767    17.4
...          ...     ...     ...     ...     ...     ...
2534  2019-12-30  7397.5  7420.9  7244.1  606110  7261.8
2535  2019-12-31  7261.5  7331.0  7167.4  586595  7196.4
2536  2020-01-01  7196.4  7259.4  7180.0  420278  7199.8
2537  2020-01-02  7199.7  7209.6  6901.4  632778  6967.0
2538  2020-01-03  6967.1  7402.9  6884.1  936288  7343.1

[2539 rows x 6 columns]

In [7]:
close = data_bitcoin['close'][3:].tolist()

min_date = data_posts['date'].min()
max_date = data_posts['date'].max()

data = data_bitcoin.copy()

data = data[(data['date'] >= min_date) & (data['date'] <= max_date)]

data.insert(loc=1, column='negative', value=data_posts['negative'])
data.insert(loc=1, column='neutral', value=data_posts['neutral'])
data.insert(loc=1, column='positive', value=data_posts['positive'])

data['close'] = close

data.reset_index(drop=True, inplace=True)

data

,date,positive,neutral,negative,open,high,low,volume,close
0,2013-01-21,0.224461,0.501282,0.274257,15.7,17.0,15.6,61502,16.9
1,2013-01-22,0.288634,0.496198,0.215168,16.8,17.6,16.6,60975,17.4
2,2013-01-23,0.257223,0.437274,0.305503,17.3,17.6,16.8,49439,17.9
3,2013-01-24,0.235050,0.551573,0.213377,17.5,19.2,15.6,172009,17.8
4,2013-01-25,0.231190,0.506552,0.262257,16.9,17.8,15.4,80767,18.7
...,...,...,...,...,...,...,...,...,...
2531,2019-12-27,0.226849,0.446411,0.326740,7210.8,7293.8,7128.5,718074,7261.8
2532,2019-12-28,0.169157,0.471205,0.359638,7261.9,7375.9,7256.5,610964,7196.4
2533,2019-12-29,0.197365,0.523340,0.279295,7321.6,7518.9,7303.0,611687,7199.8
2534,2019-12-30,0.170356,0.481577,0.348067,7397.5,7420.9,7244.1,606110,6967.0
2535,2019-12-31,0.198009,0.451574,0.350417,7261.5,7331.0,7167.4,586595,7343.1

In [8]:
data.to_csv('../datasets/consolidated/consolidated.csv', index=False)